try-import %workspace%/user.bazelrc

build:cuda --repo_env TF_NEED_CUDA=1
build:cuda --crosstool_top=@local_config_cuda//crosstool:toolchain
build:cuda --define=using_cuda=true --define=using_cuda_nvcc=true
build --action_env TF_CUDA_COMPUTE_CAPABILITIES="12.0"